* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hi Melody';
  font-size: 20px;
}

body {
  background: url(./images/default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 90vw;

  /* 가운데 두눈법: 포지션absolute, top과left를 50%씩 띄어준다. 그후, margin-top을 height의 반, margin-left를 width의 반으로 마이너스값을 입력한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: -45vh;
  margin-left: -45vw; */
}

header {
  flex: 3 1 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 16, 0.3);
  border-radius: 30px;
}

header input,
header button {
  height: 5vh;
  border-radius: 30px;
  border: 1px solid #0b1e44;
  font-size: 1.2rem;
  padding: 0px 10px;
}

header input {
  width: 20rem;
  margin-right: 15px;
  padding: 5px;
  text-align: center;
}

header button {
  margin-right: 5px;
}
header button:hover {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 36 1 90%;
  flex-wrap: wrap;
  overflow: auto;
  padding: 15px;
}
.content {
  /* display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center; */
  text-align: center;
  /* height: 20vw; */
  width: 20vw;
  margin-bottom: 30px;
  padding: 20px 0px;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 0px 20px rgba(0, 0, 16, 0.3);
  animation: show-up 0.5s forwards;
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

.content div {
  width: 100%;
}

.content .city {
  font-size: 1.5rem;
  font-weight: bold;
}

.content .temperature {
  font-size: 2rem;
  font-weight: bold;
}

.content .icon img {
  font-size: 10rem;
  color: lightblue;
}

footer {
  flex: 1 1 2.5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 16, 0.3);
  border-radius: 30px;
}
